@mixin light($color, $size) {
  @include font-light;
  color: $color;
  font-size: $size;
}

@mixin rowsize {
  min-height: 700px;
  max-height: 800px;
}

@mixin lighter($size) {
  @include font-lighter;
  font-size: $size;
}

p {
  word: {
    wrap: break-word;
    break: break-all;
  }
  overflow: hidden;
}

img {
  width: 90%;
  height: 90%;
}

.home {
  width: 100vw;
  padding: 10px;
  &-type {
    @include color;
    height: 550px;
    &-content {
      width: 100%;
      height: 250px;
      &::before {
        @include before-after(10px);
      }
    }
  }
  &-btn-word {
    @include btn-color;
    @include font-bold;
    font-size: 22px;
  }
  &-row {
    @include rowsize;
    &-title {
      @include light(black, 50px);
      &::before {
        @include before-after(50px);
      }
      &::after {
        @include before-after(30px);
      }
    }
    &-content {
      @include light(#474747, 18.5px);
      min-width: 350px;
      max-width: 500px;
      margin: 0 auto;

      &-content3 {
        img {
          height: 80px;
          width: 80px;
          padding: 10px;
        }
        &::before {
          @include before-after(20px);
        }
      }
    }
    &-img1 {
      &::before {
        @include before-after(20px);
      }
    }
    &-img3 {
      padding: 20px;
    }
  }
}

.typing {
  @include light(white, 50px);
  font-weight: normal;
}

.typing-title {
  @include lighter(22px);
  color: white;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

@media screen and (max-width: 755px) {
  .home-type {
    height: 500px;
  }

  .typing {
    font-size: 22px;
    @include font;
  }

  .typing-title {
    color: white;
    font-size: 14px;
  }

  .col-12 {
    flex: 0 0 90% !important;
  }

  .home-row-title {
    font-size: 26px;
  }
  .home-row-content {
    font-size: 18px;
  }
}
